header {
    display: block;
    // background-color: red;
    border: 1px solid red;
    padding-top: $header_top_padding;
}
nav {
    background-color: violet;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    
    // z-index: 10;
}
nav::before {
    position: absolute;
    content: '';
    top: -$header_top_padding;
    right: -100vw;
    width: 100vw;
    min-height: 100vh;
    
    
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 11;   
    transition: all .5s ease-in;
}
nav.o::before {    
    right: 0;   
}

header {
    display: flex;
    flex-direction: row;
}

.nav-inner-wrapper {
   margin-left: auto; 

   z-index: 12;
   position: relative;
}

.nav-items-wrapper {    
    background-color: $neutral_lvl_1;
    position: absolute;
    top: -$header_top_padding;
    right: -230px;
    width: 230px;
    min-height: 100vh;
    padding-top: 82px;
    // padding-left: 24px;
    z-index: 13;
    transition: all .5s ease-in;
}

nav.o .nav-items-wrapper {
    right: 0;
}
ul {
    background-color: $neutral_lvl_1;
    margin-bottom: 38px;
    padding-left: 24px;
}
.submenu-arrow {
    display: inline-block;
    width: 10px;
    height: 6px;
    margin-left: 8px;
    img {
        width: 100%;
    }
}
.log-reg {
    text-align: center;
    padding-left: 5px;
    li, a {
        font-size: 15px;
        letter-spacing: -0.04em;
        font-weight: 700;
    }
    li {
        margin-bottom: 16px;
    }
    li:nth-of-type(2) {
        border: 2px solid black;
        width: 196px;
        margin: 0 auto;
        padding: 12px 0;
        border-radius: 14px;
    }
}

li {
    letter-spacing: 0.010em;
    font-weight: 700;
    margin-bottom: 26px; 
}
.dropdown {
    padding-top: 30px;
    margin-bottom: 30px;
}
.dropdown-2 {
    margin-bottom: 35px;
}
.dropdown li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
    margin-bottom: 18px;  
     
    .submenu-item-icon {        
        margin-right: 13px;
        img {
            width: 20px;
            height: 20px;
        }
    }
    a {
        font-weight: 700;
    }
}

.dropdown-2 li {
    margin-bottom: 24px;  
}


 .img-wrapper--logo {
    margin-left: 16px;
    width: 116px;
 }

/*#region  Burger */

.burger-bg {
    background-color: aqua;  
    display: block; 
    padding: 10px 16px 10px 10px; 
    position: relative;
    z-index: 15;
    cursor: pointer;
}
.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
    display: block;
    width: 32px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    position: relative;
    transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.001s ease-in-out;
    z-index: 10;
}
.burger-btn span::before,
.burger-btn span::after {
    content: '';
    position: absolute;
    bottom: 8px;
    z-index: 10;    
}
.burger-btn span::after {
    bottom: -8px;
}
.burger-btn span.x {
    background-color: rgba(0, 0, 0, 0);
}

.burger-btn span.x::before {
    transform: rotate(45deg);
    top: 0;
}
.burger-btn span.x::after {
    transform: rotate(-45deg);
    bottom: 0;
}
/*#endregion*/


@media only screen and (min-width: 800px) {
    .burger-bg {
        display: none;
    }
    nav::before {
        content: none;
    }
    .nav-inner-wrapper {
        position: static;
        margin-left: unset;
    }
    .nav-items-wrapper {           
        position: static;
        top: unset;
        right: unset;
        width: unset;
        min-height: unset;
        padding-top: 0px;
        z-index: 9;
        transition: unset;
        display: flex;
        flex-direction: row;
        ul li:not(.dropdown li){
            display: inline-block;
            cursor: pointer;
        }
        .has-dropdown {
            position: relative;
        }
        .dropdown {
            position: absolute;
        }
    }
    .log-reg {
       margin-left: auto;
    }
}