/*#region  Burger */

.burger-bg {
    display: block; 
    padding: 10px 16px 10px 10px; 
    position: relative;
    z-index: 1500;
    cursor: pointer;
    margin-left: auto;
}
.burger-btn span,
.burger-btn span::before,
.burger-btn span::after {
    display: block;
    width: 32px;
    height: 2px;
    background-color: black;
    margin-left: auto;
    position: relative;
    transition: top 0.2s ease-in-out, bottom 0.2s ease-in-out, transform 0.2s ease-in-out, background-color 0.001s ease-in-out;
    z-index: 10;
}
.burger-btn span::before,
.burger-btn span::after {
    content: '';
    position: absolute;
    bottom: 8px;
    z-index: 100;    
}
.burger-btn span::after {
    bottom: -8px;
}
.burger-btn span.x {
    background-color: rgba(0, 0, 0, 0);
}

.burger-btn span.x::before {
    transform: rotate(45deg);
    top: 0;
}
.burger-btn span.x::after {
    transform: rotate(-45deg);
    bottom: 0;
}
/*#endregion*/

.btn {
    border: 2px solid $neutral_lvl_3;
    background-color: $neutral_lvl_3;
    padding: 14px 22px 14px 22px;
    border-radius: 16px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    // line-height: 24px;
    letter-spacing: -0.015em;
    
    color: $neutral_lvl_1;
    cursor: pointer;
    transition: all .2s ease-in;
}
.btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid $neutral_lvl_2;
    color: $neutral_lvl_3;
    
}
@media only screen and (min-width: 900px) {
    .btn {
        font-size: 19px;
        padding: 16px 28px 16px 28px;
        // line-height: 28px;
        letter-spacing: -0.05em;
    }
    
}