p, a, li, h2 {
    font-family: $ffamily_primary;
    font-size: $fsize_primary;
    color: $neutral_lvl_3;
    font-weight: 500;
}
h2 {
    font-weight: 700;
    font-size: 80px;
    line-height: 82px;
    letter-spacing: -0.015em;
}
p {
    color: $neutral_lvl_2;
}

