// ----- Font family-----
$ffamily_primary: 'Epilogue';

// ----- Font size-----
$fsize_primary: 16px;

// ----- Colors [LIGHT] -----

$hover: #6B9BFF;

$neutral_lvl_1: hsl(0, 0%, 98%);
$neutral_lvl_2: hsl(0, 0%, 41%);
$neutral_lvl_3: hsl(0, 0%, 8%);

$header_top_padding: 22px;



